
  html {
    scroll-behavior: smooth;

  }
  .cadran {
    margin-left: 29vw;
    margin-top: 17vh;
    text-align: center;
    background:black;
    border-radius: 25px;
    padding: 20px;  
    width: 35vw; 
    overflow:hidden;
    opacity: 0.7;
    max-height: max-content;
    position:absolute;
    -webkit-animation: Coboara 3.5s;
  }

  @-webkit-keyframes Coboara {
    from {
        height:10vh;
        margin-top:10vh;
     
    } 
    to { 
      height: 59vh; 
      margin-top:17vh;
    }
}

  .cadran .logo{
    width: 3vw;
    margin-left:14vw;
    max-width: 100%;
  }

  .slide img{
    width: 35vw;
    height: 57vh;
    margin-bottom:1vh;
   
  }

  
  .slide{
    display:flex;
    /* overflow:hidden; */
    white-space: nowrap;
  } 

  .sageti #stanga{
    text-decoration: none;
    color: white;
    opacity: 0.7;
    text-align: left;
    font-size:5vw;
    background:none;
    border:none;
  }

  .sageti #dreapta{
    text-decoration: none;
    color: white;
    opacity: 0.7;
    font-size:5vw;
    margin-left:45vw;
    background:none;
    border:none;

  }

  .sageti{
    display:flex;
    margin-left:24vw;
    margin-top:40vh;
    position:absolute;
  }

  #stanga:hover{
    color: lightskyblue;
  }

  #dreapta:hover{
    color: lightskyblue;
  }

  #stanga:active{
    border:none;
    width:2px;
    height:1px;
    text-size-adjust: 1px;
  }

  #dreapta:active{
    border:none;
    width:2px;
    height:1px;
    text-size-adjust: 1px;
  }

  .cadran img:hover{
    margin-top:1vh;

  }

  #sageata p{
    /* animation-duration: 2s; */
    /* animation-name: example; */
    position:absolute;
    margin-left:44vw;
    margin-top:82vh;
    font-size:7vw;
    opacity:0.4;
    color:white;
    transform: rotate(90deg);
    -webkit-animation: MoveUpDown 0.7s;
    animation-iteration-count: 3;
  }
  
  @-webkit-keyframes MoveUpDown {
    from {
        bottom: 15vh;
    }
    to { 
        bottom: 7vh;
    }
}


.extind #prima{
    /* background-color: grey; */
    position:absolute;
    margin-top:130vh;
    overflow: auto;
    margin-left:12vw;
    max-width:80vw;
}


.extind li img {
    overflow: auto;
    height: 30vh;
    width:20vw;
    margin-top: 5vh;
    /* visibility: hidden; */
  }


  .extind ul{
    list-style: none;
    -webkit-column-count: 3; 
    -webkit-column-gap: 5vw;
  }


  .extind li img:hover {
      opacity:0.5;
  }


  .extind #titlu1{ 
    position:absolute;
      font-size:3vw;
      margin-top:110vh;
      margin-left:40vw;
      color:red;
    }
    
.extind2 #prima{
    /* background-color: grey; */
    position:absolute;
    margin-top:260vh;
    overflow: auto;
    margin-left:12vw;
    max-width:80vw;
}

.extind2 li img {
    overflow: auto;
    height: 30vh;
    width:20vw;
    margin-top: 5vh;
    /* visibility: hidden; */
  }

  .extind2 ul{
    list-style: none;
    -webkit-column-count: 3; 
    -webkit-column-gap: 5vw;
  }

  .extind2 li img:hover {
      opacity:0.5;
  }



  .extind2 #titlu2{ 
    position:absolute;
      font-size:3vw;
      margin-top:240vh;
      margin-left:40vw;
      color:red;
    }

    @media only screen and (max-width: 750px) {

      .cadran {
        margin-left: 29vw;
        margin-top: 17vh;
        text-align: center;
        background:black;
        border-radius: 25px;  
        width: 35vw; 
        height: 30vh;
        overflow:hidden;
        opacity: 0.7;
        max-height: max-content;
        position:absolute;
        -webkit-animation: Coboara 4s;
      }

      
      @-webkit-keyframes Coboara {
        from {
            height:10vh;
            margin-top:10vh;
        
        } 
        to { 
          height: 30vh; 
          margin-top:17vh;
        }
      }

      .slide img{
        width: 35vw;
        height: 30vh;
        margin-bottom:1vh;
       
      }

      .sageti{
        display:flex;
        margin-left:26vw;
        margin-top:30vh;
        position:absolute;
      }

      .extind #prima{
        /* background-color: grey; */
        position:absolute;
        margin-top:100vh;
        overflow: auto;
        margin-left:12vw;

      } 
    
    
      .extind li img {
          overflow: auto;
          height: 30vh;
          width:35vw;
          margin-top: 5vh;
        }
      
      
        .extind ul{
          list-style: none;
          -webkit-column-count: 2; 
          -webkit-column-gap: 5vw;
        }
      
      
        .extind li img:hover {
            opacity:0.5;
        }
      
      
        .extind #titlu1{ 
          position:absolute;
            font-size:5vw;
            margin-top:80vh;
            margin-left:40vw;
            color:red;
          }
      
        
        .extind2 #prima{
            /* background-color: grey; */
            position:absolute;
            margin-top:310vh;
            overflow: auto;
            margin-left:12vw;
            max-width:80vw;
        }

        .extind2 li img {
            overflow: auto;
            height: 30vh;
            width:35vw;
            margin-top: 5vh;
            /* visibility: hidden; */
          }
        
          .extind2 ul{
            list-style: none;
            -webkit-column-count: 2; 
            -webkit-column-gap: 5vw;
          }
        
          .extind2 li img:hover {
              opacity:0.5;
          }
        
          .extind2 #titlu2{ 
            position:absolute;
              font-size:5vw;
              margin-top:290vh;
              margin-left:40vw;
              color:red;
            }
            header
            {
                background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(gae_sc_italiana.jpg);
                background-blend-mode: darken; 
                height: 70vh;
                background-size: cover;
                background-position: center;
            }
        
    }

    