<header>
    <%- include("../fragmente/meniu") %>
    <div class="cntr">
        <ul class="centru">
        <li><h>~Intra in lumea artistilor cu~</h>
            <ul>
                <li><img src="/gallery/poza.png" alt=""></li>
            </ul>
        </li>
        <li><h id="ravas"></h></li>
        </ul>

    </div>
</header>