<div class="bara-nav">
    <div class="logo">
        <!-- <img src="poza.png" alt="">*/ -->
        </div>
    <div class="meniu">
        <ul>
            <li><a href="/site"> Home </a></li>
            <li><a href="/about"> About </a></li>
            <li><a href="/News"> News </a></li>
            <li><a href="/Collections"> Collections </a>
                <ul id="submen">
                    <li><a href="/Collections#titlu1">Collection1</a></li>
                    <li><a href="/Collections#titlu2">Collection2</a></li>
                    </ul>
                </li>
                <li><a href="/Connect"> Connect </a></li>
            </ul>
        </div>
    </div>