<!DOCTYPE html> 
<html>
<head>
    <script src="/index.js"></script>
    <title> Expozitii online </title>
    <link href="/site.css" rel="stylesheet" type="text/css">
</head>
<body>
  
    <div class="cntr">
      
        <h1>UPS</h1>
        <h2>ERROR 404</h2>
        <p>Pagina pe care o cauti nu exista.</p>
        
    </div>
</body>
</html>
