<!DOCTYPE html> 
<html>
<head>
    <title> Expozitii online </title>
    <link href="/site.css" rel="stylesheet" type="text/css">
    <link href="/about.css" rel="stylesheet" type="text/css">
    <link href="/Collections.css" rel="stylesheet" >

</head>
<body>
    <header>
        
    
                <%- include("../fragmente/meniu") %>
            <div class="rcorners2">
                <img src="/gallery/poza.png" alt="">
                <h1 >Bine ai venit in casa artistilor.</h1>
                <p id="section"> Daca esti indragostit de arta, dar simti ca in ultima vreme aceasta a lipsit din viata ta cotidiana, daca tablourile marilor artisti ti au oferit mereu o stare de euforie, dar programul tau aglomerat ti-a permis tot mai putin sa vizitezi un muzeu, noi iti oferim la indemana, o doza de frumos.</p>
                <p id="section2">~   De asemenea, daca artele plastice fac parte din practica ta zilnica si esti in cautare de promovare, ne poti contacta pentru o colaborare si iti vei putea expune propria galerie in categoria artistilor contemporani.</p>
            </div>
           <!-- /* <div class="extind"> -->
                <!-- <h2>Cu noi vei deveni si mai creativ decat esti deja.<br> -->
                    <!-- <a href="" > Gaseste inspiratie	&nabla;</a></h2> -->
                <!-- <a id="bara" href="">___</a> -->
                <!-- </div> -->
    </header>
    <script src="/about.js" type="text/javascript"></script>
</body>
</html>