<!DOCTYPE html> 
<html>
<head>
    <title> Expozitii online </title>
    <link href="/site.css" rel="stylesheet" type="text/css">
    <!-- <link href="about.css" rel="stylesheet" type="text/css"> -->
    <link href="/News.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        
            <%- include("../fragmente/meniu") %>
            <div class="rcorners2" >
                <img src="/gallery/poza.png" alt="">
                <h1 >Toate colectiile noastre sunt noi.</h1>
                <a href="/Collections"><h2 >Arunca o privire</h2></a>
                <h3>(Atitudinea jucausa ne descrie. Schimba viteza de actiune a bilutelor)</h3>
                <button id="SM">SlowMotion</button>
            </div>
                <div id="field">

                    <div id="ball"></div>
                    <div id="ball2"></div>

                    <div id="ball3"></div>
                    <div id="ball4"></div>
                
                    <div id="ball5"></div>
                    <div id="ball6"></div>

                    <div id="ball7"></div>
                    <div id="ball8"></div>
               
            </div>
            <script src="/News.js"></script>
    </header>
    <!-- <script src="News.js"></script> -->
</body>
</html>