<!DOCTYPE html> 
<html>
<head>
    <title> Expozitii online </title>
    <link href="/site.css" rel="stylesheet" type="text/css">
</head>
<body>
    <%- include("../fragmente/header") %>
</body>
<script src="/site.js"></script>
</html>